<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAutomation" parallel="false" thread-count="2">

<!-- to run junit in testng we need to include junit attribute to true -->

  <test name="TestOne" junit="true">
  
    <classes>
       <class name="MyRunner.**/*Runner"/> 
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
